body {
    min-width: 912px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2% 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.hidden {
    display: none;
}

.wrap {
    min-width: 912px;
    max-width: 1280px;
    padding: 0 2%;
    flex-basis: 100%;
    margin: 0 auto;    
    background: #f5f5f5 url(../img/pattern-basic.png) repeat;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

.report-header h1 { 
    margin-left: -100px;
    margin-bottom: 10px;
    font-size: 21px;
    color: #f4ffff;    
}

.container-register h2 { 
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: #2e910a;
}

.side-left h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
}

.report-header h4 {
    font-weight: 400;
    margin-left: -100px;
    color: #f4ffff;    
}

.side-left h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 60px;
}

.header-top {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-top::before {    
    content: "";
    position: absolute;
    top: -3px;
    left: -2%;
    width: 104%;
    height: 3px;
    background-color: #979797;
    border-top: 1px solid #b0b1b3;               
}

.breadcrumbs ul {
    display: flex;
    flex-flow: row nowrap;
    width: 104%;
    height: 35px;
    line-height: 35px;
    list-style: none;
    margin: 0;
    padding: 0; 
    margin-left: -2%;
    background-color: #09aa0a;
}

.breadcrumbs a {
    color: #fff;    
    margin-right: 17px;
}

.breadcrumbs li:first-child {
    margin-left: 35px;
}

.breadcrumbs a:after{
  content: '»';
  margin-left: 20px;
  color: #143d46;
}

.breadcrumbs .current:after{
  display: none;
}

.all-pages {
    position: relative;
    width: 100%;    
    padding: 17px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-bottom: 15px;
}

.list-of-pages {
    position: absolute;
    top:0;
    left: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -320px;
    margin-top: -28px;
}

.list-of-pages li {
    display: inline-block;
}

.btn-nav-item {
    padding: 10px 23px;
    background-color: #eee;
    border: 1px solid #dedede;
    border-radius: 1px;
    color: #666;
    font-weight: bold;
}

.active {
    background-color: #fff;
    border-bottom-color: #fff;
    color: #444;
    font-weight: bold;
}

.report-header {
    min-height: 150px;
    text-align: center;    
    padding: 50px 90px 0px 90px;
    background: url(../img/Annual_DP_Report_2013_header_LP.png) 50% 0px no-repeat;
    margin-bottom: 25px;    
}

.report-header span {
    color: #ffec26;
}

.main-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.side-left {
    width: 50%;    
}

.description-first {
    display: flex;
    flex-flow: row nowrap;    
    align-items: flex-start;
    width: 100%;    
    margin-bottom: 20px;
}

.side-left-img-smb{
    position: relative;
}

.click-to-look-smb {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -53px;
}

.infographics {
    display: flex;
    flex-flow: row nowrap;    
    align-items: flex-start;
    width: 100%;  
}

.infographics img {
    width: 168px;
    height: 142px;
}

.infographics a {
    margin-right: 70px;
}

.description-second {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;    
    align-items: flex-start;
    margin-bottom: 50px;
}

.side-left-img-ee {
    position: relative;

}

.click-to-look-ee {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -28px;
}

.side-right-key-findings {
    margin-left: 25px;
}

.side-right-key-findings p {
    margin-left: -10px;
}

.side-right-key-findings ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
}

.side-right-register-here {    
    width: 38%;    
    border: 3px solid #e5e5e5;
    padding: 7px;    
}

.container-register {    
    background: #f5f5f5 url(../img/pattern-basic.png) repeat;
    padding: 14px;    
}

.container-register span {
    color: #e10019;
}

.table {
    display: table;
    min-height: 220px;
    width: 100%;
    color: #4a4744;
    font-weight: bold;
    margin-bottom: 15px;    
}

.raw {
    display: table-row;    
}

.cell {
    display: table-cell;    
}

.cell:nth-child(2n) {
    text-align: center;
    font-weight: normal;
}

.cell input {
    width: 180px;      
}

.cell select {
    width: 185px;     
}

.btn {
    padding: 8px 33px;    
    color: #fff;
    font-size: 17px;
    border: 1px solid #18871d;
    background-image: linear-gradient(0deg,#01a91c,#54b847);
    border-radius: 3px;
    margin-left: 35%;
}

.main-footer-top {    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.footer-documentation ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;   
}

.footer-documentation a {
    color: #747474;     
}

.footer-documentation li:after {
  content: '|';
  margin-left: 17px;
  color:  #747474;
  margin-right: 20px;
}

.footer-documentation li:last-child:after {
    display: none;
}

.footer-social {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    margin-right: 5px;
}

.sprite:last-child {
    margin: 0;
}

.sprite-icon-fb {
    width: 41px;
    height: 18px;
    background-position: -10px -10px;    
}

.sprite-icon-google {
    width: 29px;
    height: 18px;
    background-position: -10px -48px;
}

.sprite-icon-linkedin {
    width: 55px;
    height: 18px;
    background-position: -10px -86px;
}

.sprite-icon-tweet {
    width: 51px;
    height: 18px;
    background-position: -10px -124px;
}

.footer-copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: #747474;    
}

.footer-copyright a {
    color: #5f9dd4;
}

.modal-video {
    position: fixed;
    margin: 0;
    padding: 0;
    top:30%;  
    left: 50%;
    width: 50%;
    min-width: 400px;
    transform: translate(-50%,-25%);
    padding: 20px 50px;    
    font-size: 16px;
    line-height: 24px;
    background-color: #f8f7f4;
    border-radius: 5px; 
    z-index: 20;    
}

.modal-video h4 {
    margin-bottom: 20px;
    text-align: center;
}

.modal-video iframe{
    width: 100%;    
}

.modal-video ul {
    list-style: none;
}

.modal-video-close {
    position: absolute;
    top: 15px;
    right: 15px; 
    width: 18px;    
    height: 17px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;    
}

.modal-video-close::before,
.modal-video-close::after{
    content: "";
    top:8px;
    left: 1px;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #000000;
}

.modal-video-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-video-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}