body {
    width: 912px;
    min-width: 912px;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.wrap {
    min-width: 912px;
    max-width: 1200px;
    flex-basis: 100%;
    margin: 0 auto;    
    background: #f5f5f5 url(../img/pattern-basic.png) repeat;
}

/*
.container {
    flex-basis: 100%;
}
*/

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 60px;
}

.header-top {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

.header-top::before {    
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #979797;
    border-top: 1px solid #b0b1b3;               
}

.breadcrumbs ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
    background-color: #09aa0a;
    
}

.all-pages {
    position: relative;
    padding: 17px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.list-of-pages {
    position: absolute;
    top:0;
    left: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -320px;
    margin-top: -40px;
}

.list-of-pages li {
    display: inline-block;  
    padding: 10px 23px;
    background-color: #eee;
    border: 1px solid #dedede;
    border-radius: 1px;
}

.list-of-pages .active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.report-header {
    min-height: 150px;
    background: url(../img/Annual_DP_Report_2013_header_LP.png) no-repeat;
}

.report-header h1 {
    margin: 0;
    padding: 0;
    color: #f4ffff;
}

.report-header span {
    color: #ffec26;
}

.report-header h4 {
    margin: 0;
    padding: 0;
    color: #f4ffff;
}

.main-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.side-left {
    width: 470px;
}

.description-smb {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.side-left-img-smb{
    position: relative;
}

.click-to-look-smb {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -53px;
}

.infographics {
    display: flex;
    flex-flow: row nowrap;    
}

.infographics a {
    margin-right: 25px;
}

.description-EE {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.side-left-img-EE {
    position: relative;    
}

.click-to-look-EE {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -28px;
}

.side-right-key-findings ul {
    list-style-type: square;
}

.side-right-register-here {
    
    width: 360px;
    border: 3px solid #e5e5e5;
    padding: 7px;
}

.container-register {       
    background: #f5f5f5 url(../img/pattern-basic.png) repeat;
    padding: 14px;
}

.container-register h2 {
    text-align: center;
    color: #2e910a;
}

.container-register span {
    color: #e10019;
}

.container-register label {
    display: inline-block;
}

.btn {
    color: #edf6ed;    
    border: 1px solid #18871d;
    background-image: linear-gradient(0deg,#01a91c,#54b847);
    border-radius: 2px;
}

.main-footer-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-documentation ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.footer-social li {
    margin-right: 5px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}